.boxNavigation {
  width: 100%;
  padding: 0rem 0.7rem 0.7rem;
  background-color: var(--color-green-light-moss);
  position: relative;

  @include mediaMaxWidth($mobile) {
    display: none;
  }

  &:before, &:after {
    content: '';
    width: 1rem;
    height: 1rem;
    display: block;
    position: absolute;
    background-color: var(--color-beige);
  }

  &:before {
    top: -1rem;
    left: -1rem;
  }

  &:after {
    top: -1rem;
    right: -1rem;
  }
}

.content {
  display: flex;
  gap: 0.6rem;
  align-items: flex-start;
  justify-content: flex-end;
}

.icon {
  width: 4.5rem;
  height: 4.5rem;
}